<mat-card>
  <mat-form-field>
    <textarea matInput rows="6" [(ngModel)]="enteredValue"></textarea>
  </mat-form-field>
  <button
    mat-raised-button
    color="accent"
    (click)="onAddPost()">Save post!
  </button>
</mat-card>


<p>{{ newPost }}</p>
